{% extends "layout.html" %}
{% block sub_title 'Clanrules | ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clan Rules</h1>
      <p class="lead">
        Fun is our top priority. We all have a real life, and always has priority! <br>
        <strong>Violation of the rules can be punished by warning or kick! </strong><br/>
         This is decided in each individual case by the clan leadership.
      </p>
            <ul>
              <li>Only Indians are allowed.</li>
              <li>Semi-Maxed and maxed bases are likely to be accepted quickly.</li>
              <li>Use of abusive words is strictly prohibited. There will be no warning and you will be banned from clan forever if you use them.</li>
              <li>You must use both of your war attacks and discuss before attack.</li>
              <li>Wrong donations are not tolerated. If you mistakenly give wrong troops, please excuse directly thereafter.</li>
              <li>Keep your donation ratio 1:3 atleast.</li>
              <li>Don't ask for promotions. Promotions are based upon your war performance, clan activity and loyality.</li>
            </ul>



    </div>

  </div> <!-- row -->

</div>


{% endblock %}
