{% extends "layout.html" %}
{% block sub_title 'Clan War |  ' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clan War</h1>
      <p class="lead">
        The ultimate goal is to gain as many CWs as possible. This can only work as a unit, we win together and we lose together. <br>
        CWs cost to all participants a lot of resources, so we expect everyone that he is acting in the sense of the clan.<br>
        <strong>Violation of the rules will be punished with CW lock or kicking! </strong><br>
         This is in individual cases decided by the CW-guide or the clan leadership.
      </p>
      <div class="row">
        <div class="col-md-6">
            <h4>Participation</h4>
            <ul>
			  <li>CW participation is voluntary.</li>
              <li>All heroes and spell factories have to be operational at the beginning of the attack the day.</li>
              <li>New clan members be taken only after one to two weeks for Clanwar. Because we avoid too frequent failures in CW.</li>
              <li>Not everyone with opt in is taken in clanwar, as the number often does not work out. Therefore, some individual sometimes must suspend a CW. This is not personal and has nothing to do with the performance in CW, but applies each time.</li>
            </ul>
            <h4>Preparation Day</h4>
            <ul>
              <li>Clan Castles are supposed to be filled according to request and only maxed troops.<br>
              Mostly TH9 and above make these donation as they have best troops.</li>
              <li>The preparation day should be used to look at his opponent. Just remember that the base until the outbreak of war may change.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Battle Day</h4>
            <ul>
              <li><strong>Each</strong> participant is required to use <strong>both ATTACKS!</strong> Regardless of wether the clan is winning the war or not.</li>
              <li>Everyone is supposed to attack mirror base for first attack. Unless clan mail suggests another strategy. You can always ask elders annd co-leaders if you have any doubt.</li>
              <li>All TH8 members must use their first attack in first 4 hours of battle day. Second attack should be used after 10-12 hours or as the leader says.</li>
              <li>Use your <strong>best</strong> attacking troops for clanwar. Attacks with <strong>farming troops</strong> will not be tolerated.</li>
              <li>Each attack count the stars for the clan, not the loot! If too many look in the bonus, all lose in the end!</li>
            </ul>

        </div>

      </div>
    </div>
  </div> <!-- row -->
</div>


{% endblock %}
